.pointer {
    cursor: pointer;
}

.tamañoTarjeta {
    width: 50%;
    height: 50%;
}

.wrapper,
.row {
    height: 100%;
    margin-left: 0;
    margin-right: 0;
}

.wrapper:before,
.wrapper:after,
.column:before,
.column:after {
    content: "";
    display: table;
}

.wrapper:after,
.column:after {
    clear: both;
}

#sidebar {
    height: 100%;
    right: 0;
}